@import url('https://fonts.googleapis.com/css?family=Montserrat|Wallpoet');


* {
    margin: 0;
    padding: 0;
}

body {
    background: #323232;
}

#outer-container {
    width: 1000px;
    height: 400px;
    background: black;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#container {
    border: 3px solid white;
    border-radius: 20px;
    width: 99%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer {
    display: flex;
    font-size: 8rem;
    color: cyan;
    font-family: 'Wallpoet', cursive;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

#buttons button {
    width: 50px;
    height: 50px;
    background: cyan;
    border-radius: 50%;
    border: none;
    outline: none;
}

#buttons button[id='stop-button'] {
    background: #ff4f56;
}

#buttons button:hover {
    cursor: pointer;
}

#buttons label {
    color: cyan;
    font-size: 1.2rem;
    margin-top: 10px;
}

#buttons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-field {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: cyan;
    display: none;
}

#input-field div {
    display: flex;
    justify-content: space-between;
}

#send-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#input-field label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#send-container label {
    font-size: 1.4rem;
}

#input-field button {
    width: 40px;
    height: 40px;
    background: cyan;
    border-radius: 50%;
    border: none;
}

#input-field button:hover {
    cursor: pointer;
}

#input-field input {
    background: black;
    border: none;
    width: 40px;
    border-bottom: 1px solid cyan;
    color: cyan;
    font-size: 1.4rem;
    padding: 5px 20px;

}