@import url('https://fonts.googleapis.com/css?family=Montserrat|Wallpoet');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #323232;
}
#outer-container {
    width: 60%;
    height: 60vh;
    background: black;
    border-radius: 20px;
    margin: 15% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 99.5%;
    height: 99.5%;
    background: black;
    border-radius: 20px;
    border: 4px solid #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    box-sizing: border-box;
    align-items: center;
}

#timer {
    width: 100%;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buttons button, #input-field button  {
    background: cyan;
    border: none;
    height: 4rem;
    width: 4rem;
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

#buttons button[id="stop-button"] {
    background: #ff4f56;
}

#buttons button:hover, #input-field button:hover {
    cursor: pointer;
}

#timer-hours, #timer-minutes, #timer-seconds, #timer span{
    font-size: 7rem;
    color: cyan;
    font-family: 'Wallpoet', cursive;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button label {
    color: cyan;
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: bold;
 }

#input-field {
    display: none;
    width: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-field div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input-field input {
    padding-left: 5px;
    height: 3rem;
    width: 40px;
    background: black;
    border: none;
    border-bottom: 2px solid cyan;
    color: cyan;
    font-size: 1.5rem;
    outline: none;
}

#input-field label {
    color: cyan;
    font-size: 1.5rem;
}

#input-field div:nth-child(2) {
    margin-top: 2rem;
}

#input-field div:nth-child(3) {
    flex-direction: column;
}

#input-field div:nth-child(3) {
    flex-direction: column;
    margin-top: 40px;
}
#input-field div:nth-child(3) label {
    font-size: 1rem;
    margin-top: 10px;
}

button:focus {
    outline: none;
}
